.recent-searches-container {
    margin-top: 350px;

    h2 {
        margin-bottom: 25px;
    }

    li {
        cursor: pointer;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $orange;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 5px;
        font-weight: 700;
        transition: .3s;

        &:hover {
            background: $orangeHover;
        }
    }

    @media (max-width:$breakpoint) {
        margin-top: 0;

    }

    @media (max-width:$breakpoint2) {
        margin-bottom: 100px;
        width: 100%;
    }
}